{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Featured-project Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static featured_project.image %}"
                alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">{{featured_project.title}}</h1>
            <p>{{featured_project.description}}</p>
            <a class="btn btn-primary" href="{% url 'project_detail' featured_project.pk %}">Learn More</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">Take a look at the various project we are currently developing for African societis and cultures. we put Africans first we developing. </p>
        </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        {% for project in projects %}
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">{{project.title}}</h2>
                    <p class="card-text">{{project.description | slice:200 }}</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm"
                        href="{% url 'project_detail' project.pk %}">More Info</a></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}